* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #000;
    color: cyan;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.title {
    margin-bottom: 50px;
}

.container {
    display: flex;
    gap: 30px;
}

@media (max-width: 500px) {
    .filters {
        flex-direction: column;
    }
    
    .filters button {
        flex: 1 1 100%;
    }
}